html, body {
  margin:0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(240,236,235,1) 0%, rgba(188,213,209,1) 100%);
  font-family: "Quicksand";
  overflow-x: hidden;
  position: absolute;
}

.header { position: absolute;}
.header h1, h2 { margin: 0; }
.header h1 { color: #666; }
.number {color: #999}
.type { color: #fefefe; text-shadow: 2px 4px 3px rgba(0, 119, 119,0.3); }
.social a img { height: 1.5em; }
.description { color: #9ae5fc; text-shadow: 1px 1px #b1a0c2; text-align: center; margin-top: 80px; padding-bottom: 5px; letter-spacing: 4px;}

h3.instructions {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px
}

svg {
  position: absolute;
  max-width: 585px;
  top: 0;
  left: 15%;
}

.shaking {
  animation: bounce 1s linear forwards infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes shake {
  2% {
    transform: translate(1px, -1px) rotate(-0.5deg); }
  5%, 90% {
    transform: translate(2px, 3px) rotate(-0.5deg); }
  10% {
    transform: translate(-3px, 3px) rotate(-0.5deg); }
  20%, 60% {
    transform: translate(0px, -2px) rotate(-0.5deg); }
}


@media (max-width: 900px) {
  svg {
    max-width: 485px;  
  }
}