html, body {
  margin:0;
  width: 100%;
  height: 100%;
	background: #f0f0f0;
  font-family: "Quicksand";
  position: absolute;
  overflow: hidden;
}

.header { position: absolute; z-index: 1;}
.header h1, h2 { margin: 0; }
.header h1 { color: #533156; }
.number {color: #5B4332}
.type { color: rgba(81, 53, 31, .6); text-shadow: 1px 2px 2px rgba(255, 182, 37, .4) }
.social a img { height: 1.5em; }

.content {
  text-align: center;
  width: 100%;
}

svg {
  max-width: 500px;
  margin-top: 50px;
}

#background {
  animation: turn 8s forwards infinite;
  transform-origin: center;
}

#left {
  animation: turn 2s linear alternate infinite;
  transform-origin: center;
}
#right {
  animation: turn_l 2s linear alternate infinite;
  transform-origin: center;
}

#right_foam {
  animation: foam_l 2s ease-in-out alternate infinite;
  transform-origin: bottom;
}
#left_foam {
  animation: foam 2s ease-in-out alternate infinite;
  transform-origin: bottom;
}

.window {
  animation: pulse 8s ease-in-out infinite;
}


@keyframes pulse {
  100% {fill: #333}
}

@keyframes turn {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(20deg);}
}

@keyframes turn_l {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(-20deg);}
}

@keyframes foam_l {
  0% {transform: skewX(0)}
  100% {transform: skewX(15deg)}
}

@keyframes foam {
  0% {transform: skewX(0)}
  100% {transform: skewX(-15deg)}
}